* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    text-transform: capitalize;
}

:root {
    --bg-color: #201a3d;
    --container-color: #100d21;
    --font-color: #5a5478;
    --selection-bg: #db6e58;
    --selected-color: #151324;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    place-items: center;
    background-color: var(--bg-color);
    min-width: 302px;
    font-family: var(--font);
}

button:focus {
    outline: none;
}

.container {
    color: var(--font-color);
    position: relative;
    margin: 1rem 0;
}

button:hover {
    cursor: pointer;
}

/*navigation section*/
.navigation {
    --width: min(85vw, 450px);
    --height: 60px;
    width: var(--width);
    height: var(--height);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background-color: var(--container-color);
    font-weight: bold;
    font-size: 0.9em;
}

.nav_item {
    border-radius: inherit;
    z-index: 1;
    transform-style: ease-in-out;
    transition-duration: 250ms;
}

.nav_item:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

#selection {
    position: absolute;
    width: calc(var(--width) / 3 - 12px);
    height: calc(var(--height) - 12px);
    background-color: var(--selection-bg);
    border-radius: inherit;
    z-index: 0;
    transition: all 500ms;
}

#page_0:checked~#selection {
    left: 6px;
}

#page_1:checked~#selection {
    left: calc(var(--width) / 2 - var(--width) / 6 + 5px);
}

#page_2:checked~#selection {
    left: calc(var(--width) * 2 /3 + 6px);
}

#page_0:checked+#label_0,
#page_1:checked+#label_1,
#page_2:checked+#label_2 {
    color: var(--selected-color);
}

/*end of navigation section */

/*body sectoin */

#clock_base {
    --width: min(75vw, 300px);
    width: var(--width);
    aspect-ratio: 1;
    background: conic-gradient(from -0.1turn, var(--selected-color), var(--bg-color), var(--selected-color));
    border-radius: 50%;
    display: grid;
    place-items: center;
    z-index: 0;
    box-shadow: -10px -10px 20px var(--font-color), 10px 10px 20px var(--container-color);
}

#clock_face {
    width: calc(var(--width) - var(--width) * 0.12);
    aspect-ratio: 1;
    border-radius: inherit;
    position: absolute;
    z-index: 2;
    display: grid;
    place-items: center;
    background: var(--selected-color);
}

#display {
    width: calc(var(--width) - var(--width) * 0.3);
    position: relative;
    z-index: 4;
    border-radius: inherit;
    aspect-ratio: inherit;
    background-color: var(--selected-color);
    border: none;
}

#display:hover {
    cursor: pointer;
}

#time {
    font-size: 5.5em;
    margin: 0;
    padding: 0;
}

#current-state {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

svg {
    --radius: calc(var(--width) * 0.92 / 2);
    width: calc(var(--radius) * 2);
    aspect-ratio: 1;
    fill: none;
    stroke-width: calc(var(--radius) * 0.06);
    stroke: var(--selection-bg);
    --val: calc(var(--radius) * 2.76 * 2);
    stroke-dasharray: var(--val);
    rotate: -90deg;
    position: absolute;
}

.paused #open-modal {
    margin-bottom: 2rem;
}

#gear,
#cross {
    width: 2em;
}

/*end of body section */
/* modal section */
dialog {
    border: none;
    border-radius: 15px;
}

.toggle-switch {
    background: transparent;
    border: none;
}

#settings {
    text-transform: capitalize;
}

#modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

.time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-container>section {
    margin: 0;
    padding: 0;
}

.time-label {
    display: block;
    margin-bottom: 0.2rem;
}

.time-input {
    width: 97%;
    border: none;
    border-radius: 7px;
    padding: 0.5rem 0.5rem;
}

.radio-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.setting-option {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.setting-option-label {
    width: 2rem;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.setting-option-label:hover {
    cursor: pointer;
}

.setting-option-radio {
    display: none;
}

.setting-option-radio:disabled+.setting-option-label:hover {
    cursor: not-allowed;
}

.setting-option-radio:checked+.setting-option-label {
    border: 2px solid rgb(214, 209, 209);
    background-color: white;
    color: black;
}

/*end of modal section */